html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.0);
}

html, body{
    height: 100%;
    --backgroundColor: #343a70;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#root{
    min-height: 77.5%;
    padding-bottom: 2.5%;
}

.error-react{
    padding-top: 20%;
    text-align: center;
}


.header{
    display: flex;
    width: 100%;
    height: 12.5%;
    background-color: var(--backgroundColor);
    padding: 10px 20px;
    flex-direction: column;
    line-height: 1.5;
}

.header-name{
    font-size: 30px;
    font-weight: 900;
    color: #FFF;
    box-shadow: #2222BB;
}

.header-sub{
    color: #DDD;
    font-style: italic;
    padding-left: 5px;
}

.footer{
    display: flex;
    position: relative;
    height: 10%;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background-color: var(--backgroundColor);
    padding: 20px 20px;
    flex-direction: row;
}


.footer-name h1{
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    box-shadow: #2222BB;
}

.footer-name h2{
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
    box-shadow: #2222BB;
}

.footer-misc li {
    display: inline;
    list-style: none;
    margin: 0px 5px;
}

.footer-misc img{
    width: 25px;
    height: 25px;
    filter: brightness(70%);
}

.footer-misc img:hover{
    filter: none;
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222A;
    height: 200px;
    width: 200px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 255;
}

.loadingText{
    color: white;
    font-weight: 900;
}

.loadingImage{
    animation: bounce 1s infinite linear;
    height: 150px;
    width: 150px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    0%, 100% {transform:  scale(1, 1);}
    20%, 50%, 80% {transform:  scale(1.2, 0.85);}
    40% {transform: translateY(-50px) scale(0.85, 1.2);}
    60% {transform: translateY(-30px) scale(0.85, 1.2);}
}

/* React stuff */

.Container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2.5%;
    width: 95%;
}

.btnCont{
    width: 100%;
    margin: 5px;
}

.genreToggle{
    border-radius: 15px;
}
/* Seasons BEGIN*/
.season-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

    .season-select{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        border: 1px solid lightgrey;
        width: 9em;
        padding: 5px;
        border-radius: 10px;
    }
    .season-select:hover{
        background-color: var(--backgroundColor);
        cursor: pointer;
        color: white;
        text-shadow: 0px 0px 2px black;
    }

    .season-select.current{
        background-color: var(--backgroundColor);
        color: white;
        text-shadow: black;
    }


    .season-cont.disabled .season-select{
        background-color: #e5e5e5;
    }

    .season-cont.disabled .season-select.current{
        background-color: #aaa;
    }

    .season-cont.disabled .season-select:hover{
        background-color: #aaa;
        cursor: default;
    }

/* Season End */
/* Sidebar BEGIN */

.sidebar-cont{
    --sidebarBtn: 20px;
    display: flex;
    position: fixed;
    left: calc(-175px + var(--sidebarBtn));
    top: 15%;

    width: 175px;
    height: 60%;

    transition: 500ms;
    z-index: 1;
}

.sidebar-cont.show{
    left: 0%
}

.sidebar-content{
    width: 100%;
    height: 100%;
}

.sidebar-btns{
    width: var(--sidebarBtn);
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    .sidebar-btns div{
        writing-mode: vertical-lr;
        height: 80px;
        width: inherit;
        color: white;
        text-shadow: 0px 0px 2px black;
        text-align: center;
    }

    .sidebar-btns div:hover{
        cursor: pointer;
        font-weight: bold;
    }

    /* #343a70 as base */
    .sidebar-search{
        background-color: #545a90;
        border-top-right-radius: 25px;
    }

    .sidebar-genres{
        background-color: #747aB0;
    }

    .sidebar-favorites{
        background-color: #949aD0;
        border-bottom-right-radius: 25px;

    }

    .sidebar-content{
        color: white;
        text-shadow: 0px 0px 2px black;
    }

    .sidebar-content button{
        border-radius: 5px;
        font-size: 14px;
        background-color: white;
        border: none;
        margin: 5px 0;
        padding: 5px 10px;
    }

    .sidebar-content .side-content{
        overflow: hidden;
        height: 100%;
        padding: 5px;
        transition: 600ms;
    }

    .sidebar-content .search-cont{
        background-color: #545a90;
        border-top-right-radius: 25px;
    }

    .sidebar-content .search-cont input{
        border-radius: 5px;
        border: none;
        margin-bottom: 25px;
    }

    .sidebar-content.search .side-content:not(.search-cont){
        height: 1%;
    }

    .sidebar-content .genre-cont{
        background-color:  #747aB0;
    }
    .sidebar-content.genre .side-content:not(.genre-cont){
        height: 1%;
    }

    .sidebar-content .favorite-cont{
        background-color: #949aD0;
        border-bottom-right-radius: 25px;

    }
    .sidebar-content.favorite .side-content:not(.favorite-cont){
        height: 1%;
    }

    .sidebar-content h1{
        text-align: center;
        font-size: 26px;
        padding: 10px 5px;
    }

    .search-cont input, select{
        width: 90%;
        margin: 5%;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
    }

    .search-cont label{
        margin: 2.5px;
        font-size: 20px;
    }

    /* Genres */
    .genre-cont .genre-on{
        display: inline-block;
        margin: 0px 1px;
        font-size: 10px;
        border: 1px solid white;
        padding: 2px;
        border-radius: 5px;
    }

    .genre-cont .genre-btns{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 5%;
    }


    .genre-cont .genre-btns div{
        display: flex;
        justify-content: space-between;
    }


    .genre-cont .genre-on:after{
        content: " x";
    }

    .favorite-cont .favorite-show{
        font-size: 12px;
        border: 1px solid lightgrey;
        background-color: #ffffffbb;
        width: 90%;
        margin: 5px 5%;
        padding: 5px;
    }

    .favorite-cont .favorite-btns{
        display: flex;
        flex-direction: column;
        margin: 0 5%;
    }

/* Sidebar END */

.anime-container{
    --imageHeight: 266px;
    --imageWidth: 183px;
    --rowHeight: 70px;
    --titleSize: 13px;
    --studioSize: 10px;
    --scoreSize: 13px;

    display: grid;
    background-color: #EEE;
    grid-template-rows: 4fr 1fr;

    height: var(--imageHeight);
    width: var(--imageWidth);

    box-sizing: content-box;
    margin: 3px;
    padding: 0px;
    background-size: cover;

    text-shadow: 0px 0px 2px black;

}

.anime-container:hover{
    cursor: pointer;
    filter: brightness(0.8);

}

.anime-footer{
    display: grid;
    grid-row: 2;
    grid-template-rows: calc(3*var(--titleSize)) calc(2 * var(--studioSize));
    grid-template-columns: 4fr 1fr;
    padding: 2.5px 5px;
    color: #FFF;
    background: -moz-linear-gradient(to top, #00000099, #00000099,  #00000077, #00000000);
    background: -webkit-linear-gradient(to top, #00000099, #00000099,  #00000077, #00000000);
    background: -o-linear-gradient(to top, #00000099, #00000099,  #00000077, #00000000);
    background: linear-gradient(to top, #00000099, #00000099,  #00000077, #00000000);

}
.anime-title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 1/3;
    font-size: var(--titleSize);
    line-height: var(--titleSize);
    font-weight: 800;
    text-align: center;
    text-justify: distribute;
}

.anime-score{
    grid-row: 2;
    grid-column: 2;
    font-size: var(--scoreSize);
    line-height: var(--scoreSize);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.anime-studio{
    display: flex;
    grid-row: 2;
    grid-column: 1;
    font-size: var(--studioSize);
    line-height: calc(var(--studioSize));
    align-items: flex-end;
    overflow: hidden;
}

/* Modal */
/* See the modal.css for extra sstuff*/


/* Title stuff  */
.MAL-name h1{
    font-size: 16px;
    height: 2em;
    margin-bottom: 1em;
}

.MAL-title-data{
    color: darkgrey;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.MAL-title-data > span{
    margin: 0px .75em;
}


span.producer:after{
    content: ', ';
}

span.producer:last-of-type:after {
    content: '';
}

.MAL-genres{
    color: darkgrey;
    font-size: 10px;
    margin-bottom: 1em;
    overflow-x: hidden;
}

/* Footer */
.MAL-footer{
    grid-column: 1/3;
    grid-row: 3/4;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: .5em;
}

.trailer-btn{
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
    width: 75px;
}

.footer-score{
    padding: 3px;
}
