@media (max-height: 800px){
    .window-bar{
        font-size: 12px;
    }
}

@media (max-width: 724px){
    .window-content{
        --animeImageWidth: 144.75px;
        --titleSize: 30px;
        font-size: 10px;
        padding: 10px;
    }

    .window-title{
        padding-left: 5px;
    }

    .content-related, .content-synopsis{
        padding-left: 10px;
        padding-top: 10px;
    }

    .window-bar{
        font-size: 10px;
    }

    .trailer-video{
        width: 300px;
        height: 168px;
    }

    .content-related h1{
        font-size: 18px;
        margin-bottom: .25rem;
    }

    .related-anime{
        font-size: 16px;
        padding: 5px;
    }

    .related-category{
        margin-bottom: 16px;
    }
}

@media (max-width: 527px){
    .window-content{
        --animeImageWidth: 100px;
        --titleSize: 25px;

        font-size: 8px;
        padding: 5px;
    }

    .window-title{
        padding-left: 10px;
    }

    .window-bar{
        font-size: 7px;
    }

    .content-related, .content-synopsis{
        padding-left: 5px;
        padding-top: 5px;
    }

    .trailer-video{
        width: 200px;
        height: 112.5px;
    }

    .content-related h1{
        font-size: 14px;
        margin-bottom: .15rem;
    }

    .related-anime{
        font-size: 12px;
        padding: 2.5px;
    }

    .related-category{
        margin-bottom: 10px;
    }
}
