<h4>Changelog/Upcoming Features</h4>
<p><em><strong>I'm currently on hiatus</strong></em>, but I'm not done with this quite yet.
    When I'm less busy, I'll go into this full steam! Please look forward to it!</p>
<ul>
    <li>TODO -
        <ul>
            <li>
                Rework homepage to MAL; Anilist is unreliable for some data
            </li>
            <li>
                Look into AnimeDB
            </li>
        </ul>
    </li>
    <li>Jan 16, 2018
        <ul>
            <li>
                Hit Hiatus
            </li>
        </ul>
    </li>
    <li>Jan 11, 2018
        <ul>
            <li>
                Bug fixes involving airing time and loading.
            </li>
        </ul>
    </li>
    <li>Dec 25, 2017
        <ul>
            <li>
                Basic fixing of CSS
            </li>
            <li>
                Visible changelog!
            </li>
        </ul>
    </li>
    <li>Dec 24, 2017
        <ul>
            <li>
                Changed the overlay! It now shows scores from MAL, AL, and
                time to next episode
            </li>
            <li>
                Cleaning up of jquery into its own public folder
            </li>
        </ul>
    </li>
    <li>Dec 23, 2017
        <ul>
            <li>
                Changelog added. I think I should have done this earlier to
                detail the changes over time. Retroactively do changelog?
            </li>
            <li>
                About page began.
            </li>
        </ul>
    </li>

</ul>
