<h2>Changelog/Upcoming Features</h2>
<ul>
    <li>TODO -
        <ul>
            <li>
                Rework to MAL; Anilist is unreliable for some data
            </li>
        </ul>
    </li>
    <li>Dec 25, 2017
        <ul>
            <li>
                Basic fixing of CSS
            </li>
            <li>
                Visible changelog!
            </li>
        </ul>
    </li>
    <li>Dec 24, 2017
        <ul>
            <li>
                Changed the overlay! It now shows scores from MAL, AL, and
                time to next episode
            </li>
            <li>
                Cleaning up of jquery into its own public folder
            </li>
        </ul>
    </li>
    <li>Dec 23, 2017
        <ul>
            <li>
                Changelog added. I think I should have done this earlier to
                detail the changes over time. Retroactively do changelog?
            </li>
            <li>
                About page began.
            </li>
        </ul>
    </li>

</ul>
