{{#each anime}}
<div class="flex-col mb-2 ml-2">
    <div class="card" data-id="{{this.id}}">
            <img class="card-img-top" src="{{this.image_url_lge}}" alt="Card image cap">
            <div class="card-overlay"></div>
            </img>
        <div class="card-footer">
            <p id="title" class="text-capitalize">
                <em>{{this.title_english}}</em></p>
            <p id="score">AL Score: <br>{{this.average_score}}%</p>
        </div>
    </div>
</div>
{{/each}}
