<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OurAnimeList</title>

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" type="text/javascript"></script>


</head>
<style>
.nav-test{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 95%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0px;
    height: 60px;
    background-color: #343a40;
    border-radius: 0px 0px 20px 20px;
}

.nav-test *{
    line-height: 20px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

.nav-test div{
    background-color: #343a40;
    border-width: 0px;
    padding: 15px 15px;
}

/*============*/
/* Title */
/*============*/

.nav-test > .mynav-title{
    grid-column: 1/4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    /* Text stuff*/
    padding-left: 10px;
    padding-top: 20px;
}
.nav-test > .mynav-title a{
    font-size: 26px;
    font-weight: 900;
    color: white;
}
/*Need to remove underline*/
.nav-test > .mynav-title a:hover{
    text-decoration: none;
}
/*============*/
/* Links */
/*============*/

.nav-test > .mynav-list{
    grid-column: 4/8;
    vertical-align: middle;
    font-size: 18px;
    width: 100%;
    padding: 15px 0px;

}
/*Move links next to search*/
.nav-test > .mynav-list * {
    justify-content: flex-end;
}

.nav-test > .mynav-list > ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    list-style-type: none;
    overflow: auto;

}

.nav-test > .mynav-list > ul a{
    margin: 2px;
    padding: 3px 5px;
    border: 1px solid gray;
    border-radius: 10px;
    color: #ffffff;
}

.nav-test > .mynav-list > ul span{
    margin: 0px;
    padding: 6px 5px;
    color: #ffffff;

}

.nav-test > .mynav-list > ul a:hover{
    background-color: #777777;
}
/* Search */

.nav-test > .mynav-search{
    grid-column: 8/11;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-test > .mynav-search input{
    border-radius: 0px 10px 10px 0px;
    width: 90%;
    height: 50%;
}

.nav-test > .mynav-search input:focus{
    outline: none;
}

.nav-test > .mynav-search button{
    border-radius: 10px 0px 0px 10px;
    background-color: #aaaaaa;
    color: white;
    width: 10%;
    height: 50%;

}

.nav-test > .mynav-search button:hover{
    background-color: #777777;
}

@media (max-width: 425px){
    .nav-test{
        height: 120px;
    }

    .nav-test > .mynav-search{
        padding: 0px;
    }

    .nav-test > .mynav-search input{
        width: 70%;
    }

    .nav-test > .mynav-list{
        padding-top: 30px;
    }
}

@media (max-width: 767px){
    .nav-test > .mynav-search{
        height: 120px;
    }

}

.username{
    border-style: none;
}

.username:hover{
    text-decoration: none;

}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    color: #eeeeee;
    margin: 20px 0 0 0;
    padding: 30px;
    border-radius: 20px 20px 0 0;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    list-style-type: none;
    overflow: auto;
}

.footer li{
    padding: 10px;
}

.footer p{
    margin: 5px;
}

#github{
    width: 33px;
    height: 33px;
}

#linkedin{
    width: 39px;
    height: 33px;
}

#tamamoball{
    width: 33px;
    height: 33px;
    filter: grayscale(100%);

}

#tamamoball:hover{
    filter: grayscale(100%) brightness(75%)
}

#makeschool{
    height: 33px;
    filter: grayscale(100%) brightness(150%);
}

#makeschool:hover{
    filter: grayscale(100%) brightness(100%);
}

.contact img:hover{
    filter: brightness(75%)
}

</style>
<body class="{{bodytype}}">
    <div class="nav-test">
        <div class="mynav-title"><a href="/">Our Anime List</a></div>
        <div class="mynav-list">
            <ul class="mynav-link-list">
                <li>
                    <span class="navbar-text logged-in">
                        <a class="username" href="/profile"><strong>{{user.username}}</strong></a>
                    </span>
                </li>
                <li>
                    <a class="nav-link logged-out" href="/register">Register</a>
                </li>
                <li>
                    <a class="nav-link logged-in" href="/logout">Logout</a>
                </li>
                <li>
                    <a class="nav-link logged-out" href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="mynav-search">
            <form method="GET" action="/search"class="form-inline">
                <!-- <input type="text" placeholder="Search" name="term" value="{{term}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                  <button type="submit">&#x1F50D;</button>
                  <input type="text" class="form-control" placeholder="Search" name="term">
            </form>
        </div>

    </div>


    <div class="container-fluid">
        {{{body}}}
    </div>

    <div class="footer">
        <div class="basic-footer">
            <p>By: Ferdinand Cruz</p>
            <p>cruz.ferdin@gmail.com</p>
            <p>San Francisco, CA</p>
            <p><a href="/about">About/Changelog</a></p>
        </div>
        <div class="contact">
            <ul>
                <li>
                    <a href="https://github.com/pomfy113/Anime-Ratings">
                        <img id="tamamoball" src="../../images/Tamamo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.makeschool.com/portfolio/ferdinand-cruz">
                        <img id="makeschool" src="../../images/makeschool.png">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pomfy113">
                        <img id="github" src="../../images/GitHub-Mark-Light-64px.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ferdinand-cruz113/">
                        <img id="linkedin" src="../../images/Linked-In-66px.png">
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="/js/auth.js"></script>


</body>
</html>
