<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<!-- main.handlebars -->
<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
