<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OurAnimeList</title>

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="style.css"/>

</head>
<body>
    <!-- <nav class="navbar" style="background-color: #6495ED;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              It's a work in progress!
            </a>
          </div>
          <div class="pull-right">
            <a href="/shows/new" class="btn btn-default navbar-btn">New Review</a>
          </div>
        </div>
      </nav> -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Our Anime List</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <!-- <li><a href="#about">About</a></li> -->
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/shows/new">New Review</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
<div class="container" style="padding-top: 70px;">

  {{{body}}}
</div>
</div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
