<h1>About</h1>
<p>I'll categorize this stuff later. I have plenty to talk about.</p>
<p>In a nutshell, I wanted to make something easy for me to for going through
    seasonal anime. There's ways to do it like, say... Anichart comes to mind,
    or going through individual anime, but I wanted sheer convenience. So it
    led to this.
</p>
<p>
    I still have a lot to do to make it more useful for others' uses. There's
    stuff involving fair use I need to abide by, but my aim isn't to make money.
    It was mostly finding something I wanted to make and use regularly and do it.
</p>

{{> changelog}}
