<style>

.MAL-container{
    --imageHeight: 181px;
    --imageWidth: 125px;
    --textWidth: 150px;

    display: grid;
    background-color: #EEE;
    /* grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr); */
    grid-template-rows: 3em var(--imageHeight);
    grid-template-columns: var(--imageWidth) var(--textWidth);
    height: calc(3em + var(--imageHeight));
    width: calc(var(--imageWidth) + var(--textWidth));

    box-sizing: content-box;
    margin: 5px;
    padding: 10px;

    border-radius: 10px;
}

.MAL-title{
    grid-column: 1/3;
    grid-row: 1;
    font-size: 14px;
    color: #111111;
    line-height: 16px;
    text-align: center;
    text-justify: distribute;
}

.MAL-image{
    height: var(--imageHeight);
    width: var(--imageWidth);
    grid-column: 1;
    grid-row: 2;
}

.MAL-summary{
    background-color: white;
    font-size: 10px;
    overflow-y: scroll;
    padding: 5px;
    grid-column: 2;
    grid-row: 2;


}

</style>
<div class="d-flex flex-row flex-wrap justify-content-center">
{{#each MAL.TV}}
    <div class="MAL-container">
        <span class="MAL-title">{{this.title}}</span>
        <img class="MAL-image" src="{{this.picture}}">
        <div class="MAL-summary">{{this.synopsis}}</div>
    </div>
{{/each}}
</div>
