Hello there!<br>

<div class="d-flex align-self-stretch">

{{#each results}}
<div class="col-sm-6">
<div class="d-inline-flex p-2">
<p>
    <img src={{this.posterImage.tiny}}>
    {{this.titles.canonical}}
    {{this.averageRating}}
    {{this.synopsis}}
</p>
</div>
</div>

{{/each}}

</div>
