<div class="above-cards">
    <div class="title-container">
        <h1>Currently Airing</h1>
        <h3>Sorted by Score</h3>
    </div>

    <div class="loading-error alert alert-warning" role="alert">
    </div>
<!--
= * = * =
Buttons for all the filtering
= * = * =
-->
<div class="col button-container">
    <div class="row">
        <button type="button" class="btn btn-secondary btn-lg" id="airing">Airing</button>
        <button style="width: 150px;" id="sort-drop" type="button" class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by:
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" id="sort-score">&#9660; Score</button>
            <button class="dropdown-item" id="sort-pop">&#9660; Popularity</button>
        </div>
    </div>
    <div class="row">
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" id="current-year">Filter</button>
        <input type="text" placeholder="Year "id="year-input" style="width: 75px;" class="form-control" aria-describedby="current-year">
        <button id="season-drop" data-season="Spring" type="button" class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spring
        </button>
        <div class="dropdown-menu season-buttons" aria-labelledby="season-drop">
                <button class="dropdown-item" data-id="Spring">Spring</button>
                <button class="dropdown-item" data-id="Summer">Summer</button>
                <button class="dropdown-item" data-id="Fall">Fall</button>
                <button class="dropdown-item" data-id="Winter">Winter</button>
        </div>

        </div>
    </div>
</div>
</div>

<span class="loading"><img src="../../images/TamamoBall4.gif"><br>LOADING</span>

<div class="d-flex flex-row flex-wrap justify-content-start" id="home-container">
    {{> home-search}}
</div>

<div class="mymodal">
    <span class="loading-modal">
        <img src="../../images/TamamoBall4.gif"><p>LOADING</p>
    </span>
    <div class="modalcontent">
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
var airing = true;
var year;
var season = "Spring"

// Modals
$('body').on('click', '.card', function(e) {
    let url = "/" + $(this).data('id')
    $('.loading-modal').show()

    $.ajax({
        url: "/modal"+url,
        type: 'GET'
    }).done((data) => {
        // Need this to remove scrolling
        $("body").addClass("modal-open");
        $('.loading-modal').hide()

        // Data -> modal
        $('.modalcontent').html(data)
        $(".mymodal").fadeIn("400")
    }).fail(() => {
        console.log("Failed")
    });
})

// Modal remove
$('body').on('click', '.closemodal', function(e) {
    $("body").removeClass("modal-open")
    $('.mymodal').hide()
    $('.modalcontent').html("")
})

// Sort by score
$('body').on('click', '#sort-score', function(e) {
    $('.loading').show()
    if(airing == true){
        $.ajax({
            url: "/home-sort/score",
            type: 'GET'
        }).done((data) => {
            showdata(data)
            $('.title-container').children("h3").html("Sorted by Score")
            $('#sort-drop').html("&#9660; Score")
        }).fail(() => {
            console.log("Failed")
        });
    }
    else{
        $.ajax({
            url: "/home-sort/score-date/"+season+"/"+year,
            type: 'GET'
        }).done((data) => {
            showdata(data)
            $('.title-container').children("h3").html("Sorted by Score")
            $('#sort-drop').html("&#9660; Score")
        }).fail(() => {
            console.log("Failed")
        });
    }

})

// Sort by popularity
$('body').on('click', '#sort-pop', function(e) {
    $('.loading').show()
    // Current season
    if(airing == true){
        $.ajax({
            url: "/home-sort/popularity",
            type: 'GET'
        }).done((data) => {
            console.log("Currently airing!")
            showdata(data)
            $('.title-container').children("h3").html("Sorted by Popularity")
            $('#sort-drop').html("&#9660; Popularity")
        }).fail(() => {
            console.log("Failed")
        });
    }
    // If we we're not going with seasonal stuff
    else{
        $.ajax({
            url: "/home-sort/popularity-date/"+season+"/"+year,
            type: 'GET'
        }).done((data) => {
            showdata(data)
            $('.title-container').children("h3").html("Sorted by Popularity")
            $('#sort-drop').html("&#9660; Popularity")
        }).fail(() => {
            console.log("Failed")
        });
    }
})

// Back to airing stuff!
$('body').on('click', '#airing', function(e) {
    $('.loading').show()
    airing = true
    $.ajax({
        url: "/home-sort/score",
        type: 'GET'
    }).done((data) => {
        showdata(data)
        $('.title-container').children("h1").html("Currently Airing")
        $('.title-container').children("h3").html("Sorted by Score")
        $('#sort-drop').html("&#9660; Score")
    }).fail(() => {
        console.log("Failed")
    });
})

// Changing the season up; defaults to score
$('body').on('click', '.season-buttons > .dropdown-item', function(e) {
    season = $(this).data('id')
    year = $('#year-input').val()
    // Change the box
    $('#season-drop').attr('data-season', season)


    if(!jQuery.isNumeric(year) && !year){
        console.log("Not quite!")
        $('.loading-error').show()
        $('.loading-error').html("Please input a year for the filter!")
        return setTimeout(function(){$('.loading-error').fadeOut(400); return}, 2000);
    }
    $('.loading').show()

    $.ajax({
        url: "/home-sort/date/"+season+"/"+year,
        type: 'GET'
    }).done((data) => {
        if(!data){
            console.log(data)
            $('#home-container').html("Nothing here!")
        }
        airing = false
        showdata(data)
        $('.title-container').children("h1").html(`${season}, ${year.substring(0,4)}`)
        $('.title-container').children("h3").html("Sorted by Score")
        $('#sort-drop').html("&#9660; Score")
        $('#season-drop').html(season)
    }).fail(() => {
        console.log("Failed")
    });
})

// When you click on year
$('body').on('click', '#current-year', function(e) {
    year = $('#year-input').val()

    if(!jQuery.isNumeric(year) && !year){
        console.log("Not quite!")
        $('.loading-error').show()
        $('.loading-error').html("Please input a year for the filter!")
        $('#season-drop').attr('data-season', season)
        return setTimeout(function(){$('.loading-error').fadeOut(400); return}, 2000);
    }

    $('.loading').show()

    $.ajax({
        url: "/home-sort/date/"+season+"/"+year,
        type: 'GET'
    }).done((data) => {
        if(!data){
            console.log(data)
            $('#home-container').html("<h1>Nothing here!</h1>")
            $('.loading').hide()
        }
        else{
            showdata(data)
        }
        airing = false
        $('.title-container').children("h1").html(`${season}, ${year.substring(0,4)}`)
        $('.title-container').children("h3").html("Sorted by Score")
        $('#sort-drop').html("&#9660; Score")
    }).fail(() => {
        console.log("Failed")
    });
})

// For clicking on prequels
$('body').on('click', '#prequel', function(e) {
    let url = "/" + $(this).data('id')
    $('.loading-modal').show()

    $.ajax({
        url: "/modal"+url,
        type: 'GET'
    }).done((data) => {
        $('.loading-modal').hide()
        $('.modalcontent').html(data)
        $('.modalcontent').fadeIn(400)

    }).fail(() => {
        console.log("Failed")
    });
})

// For clicking on sequels
$('body').on('click', '#sequel', function(e) {
    let url = "/" + $(this).data('id')
    $('.loading-modal').show()

    $.ajax({
        url: "/modal"+url,
        type: 'GET'
    }).done((data) => {
        $('.loading-modal').hide()
        $('.modalcontent').html(data)
        $('.modalcontent').fadeIn(400)
    }).fail(() => {
        console.log("Failed")
    });
})


function showdata(data){
    $('#home-container').fadeOut(200)
    $('.loading').hide()
    $('#home-container').html(data)
    $('#home-container').fadeIn(200)
}

</script>
