<style>
.genre-filter{
    display: none;
    margin: 5px;
    padding: 5px;
    width: 400%;
    border: 1px solid grey;
    border-radius: 10px;
}

.genre-filter label{
    padding: 0px;
    margin: 0px;
}

.genre-filter ul{
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.genre-filter li{
    width: 16.667%;
    padding: 5px;
    float: left;
}

.genre-filter label{
    padding: 5px;
}


/*input:checked{
    background-color: black;
    border: 20px solid black;
}*/

@media (max-width: 1040px){
    .genre-filter li{
        padding: 0px;
        width: 25%;
    }
}

@media (max-width: 767px){
    .genre-filter li{
        padding: 0px;
        width: 33.33%;
    }
    .genre-filter label{
        padding: 2px;
        margin: 2px;
    }
}

@media (max-width: 573px){
    .genre-filter li{
        padding: 0px;
        margin: 0px;
        width: 50%;
    }
    .genre-filter label{
        padding: 5px;
        margin: 5px;
    }
}
</style>

<div class="above-cards">
    <div class="title-container">
        <h1>Currently Airing</h1>
        <h3>Sorted by score</h3>
    </div>

    <div class="loading-error alert alert-warning" role="alert">
    </div>
    <!--
    = * = * =
    Buttons for all the filtering
    = * = * =
-->
<div class="col button-container">
    <div class="row">
            <button class="btn btn-primary btn-lg" id="search">Search</button>
            <button type="button" class="btn btn-primary btn-lg" id="airing">Show Airing</button>
    </div>
    <div class="row">
        <div class="btn-group" role="group">

            <input type="text" placeholder="Year" value="2017" id="year-input" style="width: 65px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" class="form-control" aria-describedby="current-year">
            <button id="season-drop" value="airing" data-season="" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Season</button>
            <div class="dropdown-menu season-buttons" aria-labelledby="season-drop">
                <button class="dropdown-item" data-id="Spring">Spring</button>
                <button class="dropdown-item" data-id="Summer">Summer</button>
                <button class="dropdown-item" data-id="Fall">Fall</button>
                <button class="dropdown-item" data-id="Winter">Winter</button>
            </div>
        </div>

    <!-- </div> -->
    <!-- <div class="row"> -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary genre-show">Show Genres</button>
            <button class="btn btn-secondary clear-all">Clear Genres</button>
        </div>
            <div class="genre-filter">
            <ul>
                <li><label><input type="checkbox" rel="action" />Action</label></li>
                <li><label><input type="checkbox" rel="adventure" />Adventure</label></li>
                <li><label><input type="checkbox" rel="comedy" />Comedy</label></li>
                <li><label><input type="checkbox" rel="drama" />Drama</label></li>
                <li><label><input type="checkbox" rel="ecchi" />Ecchi</label></li>
                <li><label><input type="checkbox" rel="fantasy" />Fantasy</label></li>
                <li><label><input type="checkbox" rel="mahoushoujo" />Mahou Shoujo</label></li>
                <li><label><input type="checkbox" rel="mecha" />Mecha</label></li>
                <li><label><input type="checkbox" rel="music" />Music</label></li>
                <li><label><input type="checkbox" rel="mystery" />Mystery</label></li>
                <li><label><input type="checkbox" rel="psychological" />Psychological</label></li>
                <li><label><input type="checkbox" rel="romance" />Romance</label></li>
                <li><label><input type="checkbox" rel="sci-fi" />Sci-fi</label></li>
                <li><label><input type="checkbox" rel="sliceoflife" />Slice of Life</label></li>
                <li><label><input type="checkbox" rel="sports" />Sports</label></li>
                <li><label><input type="checkbox" rel="supernatural" />Supernatural</label></li>
                <li><label><input type="checkbox" rel="thriller" />Thriller</label></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="btn-group" role="group">
            <button style="width: 150px;" id="sort-drop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
            </button>
            <div class="dropdown-menu main-filters">
                <button class="dropdown-item" data-id="score" id="sort-score">&#9660; Score</button>
                <button class="dropdown-item" data-id="popularity" id="sort-pop">&#9660; Popularity</button>
            </div>
        </div>
    </div>

</div>
</div>
<span class="loading-modal">
    <img src="../../images/TamamoBall4.gif"><p>LOADING</p>
</span>
<span class="loading"><img src="../../images/TamamoBall4.gif"><br>LOADING</span>
<!--
Actual content below
-->

<div class="d-flex flex-row flex-wrap justify-content-start" id="home-container">
    {{> home-search}}
</div>
<button class="btn btn-secondary prev-page">Prev page</button>
<span id="page">Page: 1</span>
<button class="btn btn-secondary next-page">Next page</button>



<div class="mymodal">
    <div id="inmodal" class="modalcontent">
    </div>

</div>

<script>
var airing = true;
var year = "2017";
var season;
var page = 1;

$('.card-container').hover(function() {
    console.log($(this).find(".card").data('id'))
    $(this).next().show()
    let next_airing = $(this).next().find("#airing").data('date')
    $(this).next().find("#airing").html(moment(next_airing).calendar())
    // console.log(moment(next_airing).format('ll'))
    // console.log(moment(next_airing).fromNow())
    // console.log(moment(next_airing).calendar())


}, function() {
    console.log("Left")
    $(this).next().hide()
})


// Filter button
$('body').on('click', '.genre-show', (e) => {
    $(".genre-filter").slideToggle()
})


// Modals
$('body').on('click', '.card', function(e) {
    let url = "/" + $(this).data('id')
    $('.loading-modal').show()
    $.ajax({
        url: "/modal"+url,
        type: 'GET'
    }).done((data) => {
        // Need this to remove scrolling
        $("body").addClass("modal-open");
        $('.loading-modal').hide()

        // Data -> modal
        $('.modalcontent').html(data)
        $(".mymodal").fadeIn("400")
    }).fail(() => {
        console.log("Failed")
    });
})

// Modal remove
$('body').on('click', '.closemodal', function(e) {
    $("body").removeClass("modal-open")
    $('.mymodal').hide()
    $('.modalcontent').html("")
})
// Hide if you click outside too
$('body').on('click', '.mymodal', function(e) {
    var target = e.target;
    if (jQuery(target).is('.mymodal')){
        $("body").removeClass("modal-open")
        $('.mymodal').hide()
        $('.modalcontent').html("")
    }
})

// Next page
$('body').on('click', '.next-page', function(e) {
    let sorting = "score"
    $('.loading').show()
    let genres = genrelist();
    season = $('#season-drop').val()
    page += 1
    $("#page").html(`Page: ${page}`)

    $.ajax({
        url: `/home-sort/${sorting}/${season}/${year}/${page}/${genres}`,
        type: 'GET'
    }).done((data) => {
        if(!data){
            $('.loading').hide()
            showerror("No more pages available")
            page -= 1
            return
        }
        else{
            showdata(data)
        }
    }).fail(() => {
        console.log("Failed")
    });
})

$('body').on('click', '.prev-page', function(e) {
    if(page - 1 < 1){
        showerror("Cannot go past first page")
        return
    }
    let sorting = "score"
    $('.loading').show()
    let genres = genrelist();
    season = $('#season-drop').val()
    page -= 1
    $("#page").html(`Page: ${page}`)

    $.ajax({
        url: `/home-sort/${sorting}/${season}/${year}/${page}/${genres}`,
        type: 'GET'
    }).done((data) => {
        showdata(data)
    }).fail(() => {
        console.log("Failed")
    });
})

// === === === === === ===
// === === SORTING === ===
// === === === === === ===

// Sort by score or popularity
$('body').on('click', '.main-filters > *', function(e) {
    let sorting = $(this).data('id')
    $('.loading').show()
    let genres = genrelist();
    season = $('#season-drop').val();
    page = 1;
    $("#page").html(`Page: ${page}`)

    $.ajax({
        url: `/home-sort/${sorting}/${season}/${year}/${page}/${genres}`,
        type: 'GET'
    }).done((data) => {
        showdata(data)
        if(season === "airing"){
            $('.title-container').children("h1").html(`Currently Airing`)
        }
        else{
            $('.title-container').children("h1").html(`${season}, ${year.substring(0,4)}`)
        }
        $('.title-container').children("h3").html(`Sorted by ${sorting}`)
        $('#sort-drop').html(`&#9660; ${capitalize(sorting)}`)
    }).fail(() => {
        console.log("Failed")
    });

})

// === === === === === ===
// === ===  DATING === ===
// === === === === === ===
// Back to airing stuff!

// All airing; default to score without dates
$('body').on('click', '#airing', function(e) {
    $('.loading').show()
    airing = true
    let genres = genrelist();
    $('#season-drop').html("Season")
    $('#season-drop').val('airing')
    season = "airing"
    page = 1
    $("#page").html(`Page: ${page}`)

    $.ajax({
        url: `/home-sort/score/${season}/${year}/${page}/${genres}`,
        type: 'GET'
    }).done((data) => {
        if(!data){
            $('#home-container').html("<h1>Nothing here!</h1>")
            $('.loading').hide()
        }
        else{
            showdata(data)
            $('.title-container').children("h1").html("Currently Airing")
            $('.title-container').children("h3").html("Sorted by score")
            $('#sort-drop').html("&#9660; Score")
        }

    }).fail(() => {
        console.log("Failed")
    });
})

$('body').on('click', '.season-buttons > .dropdown-item', function(e) {
    season = $(this).data('id')
    $('#season-drop').html(season)
    $('#season-drop').val(season)
    console.log($('#season-drop').val())
})

// When you click on the searching button
$('body').on('click', '#search', function(e) {
    year = $('#year-input').val()
    season = $('#season-drop').val()
    let genres = genrelist()
    page = 1
    $("#page").html(`Page: ${page}`)


    if(!jQuery.isNumeric(year) || !year){
        $('#season-drop').attr('data-season', season)
        showerror("Year required for search")
        return
    }

    $('.loading').show()

    $.ajax({
        url: `/home-sort/score/${season}/${year}/${page}/${genres}`,
        type: 'GET'
    }).done((data) => {
        if(!data){
            console.log(data)
            $('#home-container').html("<h1>Nothing here!</h1>")
            $('.loading').hide()
        }
        else{
            showdata(data)
        }

        if(season === "airing"){
            $('.title-container').children("h1").html(`Currently Airing`)
        }
        else{
            $('.title-container').children("h1").html(`${season}, ${year.substring(0,4)}`)
        }
        $('.title-container').children("h3").html("Sorted by score")
        $('#sort-drop').html("&#9660; Score")
    }).fail(() => {
        console.log("Failed")
    });
})

// For clicking on prequels
$('body').on('click', '#prequel', function(e) {
    let url = "/" + $(this).data('id')
    $('.loading-modal').show()
    $.ajax({
        url: "/modal"+url,
        type: 'GET'
    }).done((data) => {
        $('.loading-modal').hide()
        $('.modalcontent').html(data)
        $('.modalcontent').fadeIn(400)

    }).fail(() => {
        console.log("Failed")
    });
})

// For clicking on sequels
$('body').on('click', '#sequel', function(e) {
    let url = "/" + $(this).data('id')
    $('.loading-modal').show()

    $.ajax({
        url: "/modal"+url,
        type: 'GET'
    }).done((data) => {
        $('.loading-modal').hide()
        $('.modalcontent').html(data)
        $('.modalcontent').fadeIn(400)
    }).fail(() => {
        console.log("Failed")
    });
})

// === === === === === ===
// === === FILTERS === ===
// === === === === === ===

$("body").on('click', '.clear-all', (e) => {
    $('input[type="checkbox"]:checked').prop('checked',false);
})

function capitalize(word){
    return word[0].toUpperCase() + word.slice(1)
}

function genrelist(){
    let genrelist = "genres?q="
    $('.genre-filter').find('input:checked').each(function () {
        genrelist += ($(this).attr('rel') + ",")
    });
    console.log(genrelist.slice(0, -1))
    return genrelist.slice(0, -1)

}
function showdata(data){
    $('#home-container').fadeOut(200)
    $('.loading').hide()
    $('#home-container').html(data)
    $('#home-container').fadeIn(200)
}

function showerror(string){
    $('.loading-error').show()
    $('.loading-error').html(string)
    return setTimeout(function(){$('.loading-error').fadeOut(400); return}, 2000);
}

</script>
