
<style>



</style>
<div class="mymodal">
    <div class="modalcontent"></div>
</div>

<h1>Currently Airing:<h1>
<div class="d-flex flex-row flex-wrap no-gutters justify-content-start">
{{#each anime}}
    <div class="flex-col mb-2 mr-2">
        <div class="card" data-id="{{this.id}}"
        style="background-image: url({{this.image_url_lge}})">
            <div id="anime_title"><h5 class="text-justify">{{this.title_english}}</h5>
            <!-- <h5>{{this.average_score}}%</h5> -->
            </div>

        </div>
    </div>
{{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$('body').on('click', '.card', function(e) {
    let url = "/" + $(this).data('id')
    console.log("Going to /modal" + url)
    $.ajax({
      url: "/modal"+url,
      type: 'GET'
    }).done((data) => {
        $('.mymodal').css({"display":"block"})
        $('.modalcontent').html(data)
    }).fail(() => {
        console.log("Failed")
    });
})

$('body').on('click', '.mymodal', function(e) {
    $('.mymodal').css({"display":"none"})
})
</script>
