
<style>
#anime_title{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    padding-left: 25px;
}

#anime_title p{
    color: white;
    font: 12px Helvetica;
    background: rgba(0, 0, 0, 0.7);
    line-height: 10px;
    padding: 5px;

}
</style>
<h1>Currently Airing:<h1>

<div class="d-flex flex-column">
<div class="row">
{{#each anime}}
<div class="col-sm-2">
    <div class="card">
        <img class="card-img-top" src="{{this.image_url_lge}}" alt="Anime poster">
        <h5 id="anime_title" class="text-justify"><p>{{this.title_english}}</p></h5>

        <!-- <div class="card-body">
        </div> -->
    </div>
</div>
{{/each}}
</div>
