<!-- For new posts -->
<div id="errorbox" class="alert alert-danger" style="opacity: 0">All good?</div>

<div class="row">
    <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <form method="POST" action="/login">
      <legend>Login</legend>
      <div class="form-group">
        <label for="user-name"><em>Username</em></label>
        <input id="user-name" type="text" name="username" class="form-control" ></input>
      </div>

      <div class="password form-group">
        <label for="user-pass"><em>Password</em></label>
        <input id="user-pass"type="password" name="password" class="form-control"></input>
      </div>

      <div class='text-right form-group'>
        <button type="submit" class="btn btn-primary">Reply</button>
      </div>

    </form>
  </div>
</div>
