<legend>New Show</legend>
<form method="POST" action="/shows">
  <!-- TITLE -->
  <p>
    <label for="title">Title</label><br>
    <textarea name="description" rows="1" /></textarea>
  </p>

  <!-- MOVIE TITLE -->
  <p>
    <label for="description">Description</label><br>
    <textarea name="description" rows="10" /></textarea>
  </p>
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>
</form>
