<h1>{{show.title}}</h1>
<h5>{{show.description}}</h5>
<form method="POST" action="/shows/{{show._id}}">
  <!-- DESCRIPTION -->
      <p>
        <label for="summary">New Review</label><br>
        <textarea name="summary" rows="10" /></textarea>
      </p>
      <p>
          <button type="submit">Save Review</button>
      </p>
</form>

{{#each show.reviews}}
    <p>{{this.summary}}</p>
{{/each}}
