<!-- shows-edit.handlebars -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>Edit Review</legend>
    <form method="POST" action="/shows/{{show._id}}?_method=PUT">
      {{> shows-form }}
    </form>
    <button style="float:right;" onclick="location.href='/'" class="btn btn-primary">
     Cancel</button>
  </div>
</div>
