<div class="list-group">
        <h2>Welcome {{user.username}}!</h2>
        <div class="col-sm-4">
            <a href="/favorites" class="list-group-item list-group-item-action">
                Favorites
            </a>
            <a href="/my-posts" class="list-group-item list-group-item-action">
                Comments
            </a>
        </div>
        <p>There's not a lot of things here yet, but we'll fix that!</p>
        <p>Eventually...!</p>
        <p>Please look forward to it!</p>
    </div>
</div>
