html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.0);
}

html, body{
    height: 100%;
    --backgroundColor: #343a70;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#root{
    min-height: 80%;
    padding-bottom: 2.5%;
}

.error-react{
    padding-top: 20%;
    text-align: center;
}


.header{
    display: flex;
    min-height: 10%;
    width: 100%;
    background-color: var(--backgroundColor);
    padding: 10px 20px;
    flex-direction: column;
    line-height: 1.5;
}

.header-name{
    font-size: 30px;
    font-weight: 900;
    color: #FFF;
    box-shadow: #2222BB;
}

.header-sub{
    color: #DDD;
    font-style: italic;
    padding-left: 5px;
}

.footer{
    display: flex;
    position: relative;
    height: 10%;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background-color: var(--backgroundColor);
    padding: 20px 20px;
    flex-direction: row;
}


.footer-name h1{
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    box-shadow: #2222BB;
}

.footer-name h2{
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
    box-shadow: #2222BB;
}

.footer-misc li {
    display: inline;
    list-style: none;
    margin: 0px 5px;
}

.footer-misc img{
    width: 25px;
    height: 25px;
    filter: brightness(70%);
}

.footer-misc img:hover{
    filter: none;
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222A;
    height: 200px;
    width: 200px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 255;
}

.loadingText{
    color: white;
    font-weight: 900;
}

.loadingImage{
    animation: bounce 1s infinite linear;
    height: 150px;
    width: 150px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    0%, 100% {transform:  scale(1, 1);}
    20%, 50%, 80% {transform:  scale(1.2, 0.85);}
    40% {transform: translateY(-50px) scale(0.85, 1.2);}
    60% {transform: translateY(-30px) scale(0.85, 1.2);}
}

/* React stuff */

.Container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2.5%;
    width: 95%;
}

.btnCont{
    width: 100%;
    margin: 5px;
}

.genreToggle{
    border-radius: 15px;
}

/* Title stuff  */
.MAL-name h1{
    font-size: 16px;
    height: 2em;
    margin-bottom: 1em;
}

.MAL-title-data{
    color: darkgrey;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.MAL-title-data > span{
    margin: 0px .75em;
}


span.producer:after{
    content: ', ';
}

span.producer:last-of-type:after {
    content: '';
}

.MAL-genres{

    font-size: 10px;
    margin-bottom: 1em;
    overflow-x: hidden;
}

/* Footer */
.MAL-footer{
    grid-column: 1/3;
    grid-row: 3/4;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: .5em;
}

.trailer-btn{
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
    width: 75px;
}

.footer-score{
    padding: 3px;
}
