<link rel="stylesheet" href="../../../home.css"/>
<link rel="stylesheet" href="../../../modal.css"/>

<div id="root"></div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<!-- <script src="/js/home/tabs.js"></script> -->
<script>const data = {{{MAL_TV}}}</script>
<script src="/js/home/ALget.js"></script>
<script src="/js/home/MALget.js"></script>

<script type="text/babel" src="/js/home/react.js"></script>
